
<div class="wrapper">
    <div class="sidebar">
        <h2><img id="admin" src="../../../assets/images/administrador.png" alt=""> Admin</h2>
        <ul>
            <li><a routerLink=""><i ></i>Inico</a></li>
            <li><a routerLink="/hoteles"><i ></i>Hoteles</a></li>
            <li><a routerLink="/usuario"><i ></i>Usuarios</a></li>
            <li><a routerLink="/hameadmin"><i ></i>Reservacion</a></li>
            <li><a routerLink="/grafica"><i ></i>Reporte</a></li>
            <li><a ><i ></i></a></li>
        </ul> 

    </div>
</div>