


<div class="header">
    <a href="" class="logo">Hoteles</a>
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
      <li><a routerLink="">Home</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/conssumo">Servicio</a></li>
      <li><a routerLink="/homeusuario">Hoteles</a></li>
      <li><a routerLink="/perfil"><img  src="../../../assets/images/usuarios.png"  id="usuario"  alt=""></a></li>
    </ul>
</div>


